<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="processBar">
    <div class="row my-row">
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-1"></div>
                <span class="process-label">제품<br>정보입력</span>
            </div>
        </div>
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-2"></div>
                <span class="process-label">물질 및<br>부품제조</span>
            </div>
        </div>
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-3"></div>
                <span class="process-label">가공공정</span>
            </div>
        </div>
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-4"></div>
                <span class="process-label">수송</span>
            </div>
        </div>
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-5"></div>
                <span class="process-label">재활용 및<br>폐기</span>
            </div>
        </div>
        <div class="col-2 my-col">
            <div class="process-step-cont">
                <div class="process-step step-6"></div>
                <span class="process-label">결과확인</span>
            </div>
        </div>
    </div>
</div>