<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: header" />
<body>
  <main id="main">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <!-- ======= Our Services Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>친환경 사전평가 테스트 - Projects</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li>Projects</li>
          </ol>
        </div>

      </div>
    </section><!-- End Our Services Section -->
    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">
        <div class="row">

          <!-- ======= Hero Section ======= -->
          <section id="hero" class="d-flex justify-cntent-center align-items-center">
            <div id="heroCarousel" class="container carousel carousel-fade" data-bs-touch="false" data-bs-interval="false">

              <!-- Slide 1 -->
              <div class="carousel-item active">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">친환경 사전평가 테스트</h2>
                  <p class="animate__animated animate__fadeInUp">당신의 제품에 대한 환경영향을 평가해 보세요!</p>

                  <form action="/userInfo" method="post"
                        id="contactForm" class="animate__animated animate__fadeInUp" data-sb-form-api-token="API_TOKEN">
                    <!-- productName input-->
                    <p class="mb-2">제품 이름</p>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="productName" type="text" placeholder="Enter your product name..." data-sb-validations="required" />
                        <label for="productName" class="text-dark">제품 이름</label>
                        <div class="invalid-feedback" data-sb-feedback="productName:required">A product name is required.</div>
                    </div>
                    <!-- productAmount input-->
                    <p class="mb-2">제품 기준흐름(=Product Amount)</p>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="productAmount" type="text" placeholder="Enter your product amount..." data-sb-validations="required" />
                        <label for="productAmount" class="text-dark">제품 기준흐름(=Product Amount)</label>
                        <div class="invalid-feedback" data-sb-feedback="productAmount:required">An product amount is required.</div>
                    </div>
      
                    <!-- 제품 분류 radio button -->
                    <p class="mb-2">제품 분류</p>
                    <div class="mb-3 btn-group btn-group-toggle" data-toggle="buttons">
                        <input type="radio" class="btn-check" name="options-outlined" id="btn-material" autocomplete="off">
                        <label class="btn btn-outline-success" for="btn-material">material</label>
      
                        <input type="radio" class="btn-check" name="options-outlined" id="btn-product" autocomplete="off">
                        <label class="btn btn-outline-success" for="btn-product">product</label>                        
                    </div>
                    <div class="col-auto"><button class="btn-get-started animate__animated animate__fadeInUp" type="submit">Notify Me!</button></div>
      
                    <!-- Submit success message-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3 mt-2">
                            <div class="fw-bolder">Form submission successful!</div>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                  </form>

                </div>
              </div>

              <!-- Slide 2 -->
              <div class="carousel-item">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">공정 선택</h2>

                  <li><a class="text-white" aria-current="page" href="/services/ProcessType.RAW_MATERIALS">물질&부품제조</a></li>
                  <li><a class="text-white" href="#">가공</a></li>
                  <li><a class="text-white" href="#">수송</a></li>
                  <li><a class="text-white" aria-current="page" href="#">사용</a></li>
                  <li><a class="text-white" aria-current="page" href="#">폐기&재활용</a></li>

                </div>
              </div>

              <!-- 물질&부품제조 start -->
              <div class="carousel-item">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">물질&부품제조</h2>
        
                  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                      <!-- ProcessName input-->
                      <p class="mb-2">공정 이름</p>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="ProcessName" type="text" placeholder="Enter your product name..." data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="ProcessName:required">A process name is required.</div>
                      </div>
                      <!-- flow DB input or select-->
                      <p class="mb-2">사용되는 물질 및 부품 (선택 또는 검색)</p>
                      <!-- <div class="form-floating mb-3">               -->
                      <select class="selectpicker" data-live-search="true">
                        <optgroup label="플라스틱">
                          <option data-tokens="플라스틱">호모폴리프로필렌-HPP</option>
                          <option data-tokens="플라스틱">고밀도폴리에틸렌-HDPE</option>
                          <option data-tokens="플라스틱">랜덤폴리프로필렌-RPP</option>
                          <option data-tokens="플라스틱">블록폴리프로필렌-BPPP</option>
                        </optgroup>
                        <optgroup label="기타">
                          <option data-tokens="기타">활성탄</option>
                          <option data-tokens="기타">윤활유</option>
                        </optgroup>                      
                      </select>                
                      <!-- Process Amount -->
                      <input class="form-control" id="processAmount" type="text" style="width: 30%; display:inline-block;" 
                      placeholder="물질 및 부품 무게" data-sb-validations="required" />
                      <select class="selectpicker" data-width="25%" data-height="">
                        <option value="kg">kg</option>
                        <option value="ton">ton</option>
                      </select>
                      <div class="invalid-feedback" data-sb-feedback="search-p1:required">선택 필수항목입니다.</div>

        
                      <!-- 에너지 - 전기 사용량 -->
                      <p class="mb-2 pt-5">에너지 - 전기 사용량 (투입물/Input)
                        <img src="./assets/img/icons/lightning.png" style="width:25px">
                      </p>
                      <div class="form-floating mb-3">
                        <input class="form-control" id="electric" type="text" style="width: 70%; display:inline-block;" 
                        placeholder="Enter your elec..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="kWh">kWh</option>
                          <option value="MJ">MJ</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="electric:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (투입물/Input)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Fresh water</option>
                          <option value="">Water, unspecified natural origin/kg</option>
                        </select>       
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (산출물/Output)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Waste water</option>
                          <option value="">Water/kg</option>
                        </select>    
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>

                      <!-- Submit button -->
                      <div class="col-auto"><button class="btn-get-started animate__animated animate__fadeInUp" type="submit">Notify Me!</button></div>
        
                      <!-- Submit success message-->
                      <!---->
                      <!-- This is what your users will see when the form-->
                      <!-- has successfully submitted-->
                      <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3 mt-2">
                              <div class="fw-bolder">Form submission successful!</div>
                          </div>
                      </div>
                      <!-- Submit error message-->
                      <!-- an error submitting the form-->
                      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                  </form>

                </div>
              </div>
              <!-- 물질&부품제조 end -->

              <!-- 가공 start -->
              <div class="carousel-item">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">가공</h2>
        
                  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                      <!-- ProcessName input-->
                      <p class="mb-2">공정 이름</p>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="ProcessName" type="text" placeholder="Enter your product name..." data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="ProcessName:required">A process name is required.</div>
                      </div>
                      <!-- flow DB input or select-->
                      <p class="mb-2">사용되는 물질 및 부품 (선택 또는 검색)</p>
                      <!-- <div class="form-floating mb-3">               -->
                      <select class="selectpicker" data-live-search="true">
                        <optgroup label="플라스틱가공">
                          <option data-tokens="플라스틱가공">PE사출성형</option>
                          <option data-tokens="플라스틱가공">PVC사출성형</option>
                          <option data-tokens="플라스틱가공">컴파운딩PP압출</option>                        
                          <option data-tokens="플라스틱">컴파운딩PE압출</option>
                        </optgroup>
                        
                      </select>                
                        <div class="invalid-feedback" data-sb-feedback="search-p1:required">선택 필수항목입니다.</div>
        
                      <!-- 에너지 - 전기 사용량 -->
                      <p class="mb-2 pt-5">에너지 - 전기 사용량 (투입물/Input)
                        <img src="./assets/img/icons/lightning.png" style="width:25px">
                      </p>
                      <div class="form-floating mb-3">
                        <input class="form-control" id="electric" type="text" style="width: 70%; display:inline-block;" 
                        placeholder="Enter your elec..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="kWh">kWh</option>
                          <option value="MJ">MJ</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="electric:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (투입물/Input)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Fresh water</option>
                          <option value="">Water, unspecified natural origin/kg</option>
                        </select>       
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (산출물/Output)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Waste water</option>
                          <option value="">Water/kg</option>
                        </select>    
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- Submit button -->
                      <div class="col-auto"><button class="btn-get-started animate__animated animate__fadeInUp" type="submit">Notify Me!</button></div>
        
                      <!-- Submit success message-->
                      <!---->
                      <!-- has successfully submitted-->
                      <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3 mt-2">
                              <div class="fw-bolder">Form submission successful!</div>
                          </div>
                      </div>
                      <!-- Submit error message-->
                      <!-- an error submitting the form-->
                      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                  </form>

                </div>
              </div>
              <!-- 가공 end -->

              <!-- 수송 -->
              <div class="carousel-item">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">수송</h2>
        
                  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                      <!-- ProcessName input-->
                      <p class="mb-2">공정 이름</p>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="ProcessName" type="text" placeholder="Enter your product name..." data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="ProcessName:required">A process name is required.</div>
                      </div>
                      <!-- flow DB input or select-->
                      <p class="mb-2">사용되는 물질 및 부품 (선택 또는 검색)</p>
                      <!-- <div class="form-floating mb-3">               -->
                      <select class="selectpicker" data-live-search="true">
                        <optgroup label="육상수송">
                          <option data-tokens="육상수송">공로수송</option>
                          <option data-tokens="육상수송">기차수송</option>
                          <option data-tokens="육상수송">냉장차량수송</option>
                          <option data-tokens="육상수송">디젤기차수송</option>
                        </optgroup>
                        <optgroup label="해상수송">
                          <option data-tokens="기타">내항-로로선</option>
                        </optgroup>
                        
                      </select>                
                        <div class="invalid-feedback" data-sb-feedback="search-p1:required">선택 필수항목입니다.</div>
        
                      <!-- 이동 거리 -->
                      <p class="mb-2 pt-5">이동 거리
                        <img src="./assets/img/icons/truck.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <input class="form-control" id="electric" type="text" style="width: 70%; display:inline-block;" 
                        placeholder="Enter your elec..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="kWh">km</option>
                          <option value="MJ">m</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="electric:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 차량 무게 -->
                      <p class="mb-2">차량 무게
                        <img src="./assets/img/icons/weighing-machine.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <input class="form-control" id="water" type="text" style="width: 70%; display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">ton</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- Submit button -->
                      <div class="col-auto"><button class="btn-get-started animate__animated animate__fadeInUp" type="submit">Notify Me!</button></div>
        
                      <!-- Submit success message-->
                      <!---->
                      <!-- has successfully submitted-->
                      <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3 mt-2">
                              <div class="fw-bolder">Form submission successful!</div>
                          </div>
                      </div>
                      <!-- Submit error message-->
                      <!-- an error submitting the form-->
                      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                  </form>
                </div>
              </div>
              <!-- 수송 end -->
              <!-- 폐기&재활용 start -->
              <div class="carousel-item">
                <div class="carousel-container">
                  <h2 class="animate__animated animate__fadeInDown">폐기&재활용</h2>
        
                  <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Input Parameter Table -->
                    <div class="table-responsive col-12">
                      <table class="table table-bordered" id="normal" width="100%" cellspacing="0">
                          <thead>
                              <tr>
                                  <th class="text-primary" width="">종류</th>        
                                  <th>양(Amount)</th>                                          
                                  <th colspan="">사용되는 물질/부품</th>
                                  <th colspan="">전기(투입물)</th>
                                  <th colspan="">물(투입물)</th>
                                  <th colspan="">물(산출물)</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                <td value="">매립</td>
                                <td>
                                  <input type="text" name="inputs" class="form-control form-control-user" required placeholder="1.0">
                                  <div class="dropdown">
                                    <select name="iUnits" id="dropdown" class="form-control">
                                        <option value="t">t</option>
                                        <option value="kg">kg</option>
                                    </select>
                                  </div>
                                </td>                                
                                  <td>
                                    <div class="dropdown">
                                      <select name="" id="dropdown" class="form-control">
                                          <option value="">혼합플라스틱매립</option>
                                          <option value="">소각</option>
                                          <option value="">재활용</option>
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <input type="text" name="inputs" class="form-control form-control-user" required placeholder="1.0">
                                    <div class="dropdown">
                                        <select name="iUnits" id="dropdown" class="form-control">
                                            <option value="kWh">kWh</option>
                                        </select>
                                    </div>
                                  </td>
                                  <td>
                                      <div class="dropdown">
                                          <select name="iUnits" id="dropdown" class="form-control">
                                              <option value="kWh">t</option>
                                              <option value="kg">kg</option>
                                              <option value="ea">ea</option>
                                              <option value="kBq">kBq</option>
                                              <option value="unit">unit</option>
                                          </select>
                                      </div>
                                  </td>
                              </tr>

                              
                          </tbody>
                      </table>
                    </div>
                    <!-- end table area -->
                      <!-- ProcessName input-->
                      <p class="mb-2">공정 이름</p>
                      <div class="form-floating mb-3">
                          <input class="form-control" id="ProcessName" type="text" placeholder="Enter your product name..." data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="ProcessName:required">A process name is required.</div>
                      </div>
                      <!-- flow DB input or select-->
                      <p class="mb-2">사용되는 물질 및 부품 (선택 또는 검색)</p>
                      <!-- <div class="form-floating mb-3">               -->
                      <select class="selectpicker" data-live-search="true">
                        <optgroup label="매립">
                          <option data-tokens="매립">혼합플라스틱매립</option>
                        </optgroup>
                        <optgroup label="소각">
                          <option data-tokens="소각">폐플라스틱소각</option>
                          <option data-tokens="소각">HDPE소각</option>
                          <option data-tokens="소각">LDPE소각</option>                        
                          <option data-tokens="소각">PP소각</option>
                        </optgroup>
                        <optgroup label="재활용">
                          <option data-tokens="재활용">펠렛용폐플라스틱재활용</option>
                          <option data-tokens="재활용">폐HDPE재활용</option>
                          <option data-tokens="재활용">폐LDPE재활용</option>                        
                          <option data-tokens="재활용">폐PET재활용</option>
                        </optgroup>
                      </select>                
                        <div class="invalid-feedback" data-sb-feedback="search-p1:required">선택 필수항목입니다.</div>
        
                      <!-- 에너지 - 전기 사용량 -->
                      <p class="mb-2 pt-5">에너지 - 전기 사용량 (투입물/Input)
                        <img src="./assets/img/icons/lightning.png" style="width:25px">
                      </p>
                      <div class="form-floating mb-3">
                        <input class="form-control" id="electric" type="text" style="width: 70%; display:inline-block;" 
                        placeholder="Enter your elec..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="kWh">kWh</option>
                          <option value="MJ">MJ</option>
                        </select>
                        <div class="invalid-feedback" data-sb-feedback="electric:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (투입물/Input)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Fresh water</option>
                          <option value="">Water, unspecified natural origin/kg</option>
                        </select>       
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
        
                      <!-- 에너지 - 물 사용량 -->
                      <p class="mb-2">에너지 - 물 사용량 (산출물/Output)
                        <img src="./assets/img/icons/drop-water.png" style="width:30px">
                      </p>
                      <div class="form-floating mb-3">
                        <select data-height="">
                          <option value="">Waste water</option>
                          <option value="">Water/kg</option>
                        </select>    
                        <input class="form-control" id="water" type="text" style="display:inline-block;" 
                        placeholder="Enter your water..." data-sb-validations="required" />
                        <select class="selectpicker" data-width="25%" data-height="">
                          <option value="m3">m3</option>
                          <option value="kg">kg</option>
                        </select>                
                        <div class="invalid-feedback" data-sb-feedback="water:required">선택 필수항목입니다.</div>
                      </div>
                      <!-- Submit button -->
                      <div class="col-auto"><button class="btn-get-started animate__animated animate__fadeInUp" type="submit">Notify Me!</button></div>
        
                      <!-- Submit success message-->
                      <!---->
                      <!-- has successfully submitted-->
                      <div class="d-none" id="submitSuccessMessage">
                          <div class="text-center mb-3 mt-2">
                              <div class="fw-bolder">Form submission successful!</div>
                          </div>
                      </div>
                      <!-- Submit error message-->
                      <!-- an error submitting the form-->
                      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3 mt-2">Error sending message!</div></div>
                  </form>
                </div>
              </div>
              <!-- 폐기&재활용 end -->              

              <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
              </a>

              <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
              </a>

            </div>
          </section><!-- End Hero -->
        </div>

      </div>
    </section><!-- End Services Section -->
  </main><!-- End #main -->
  <div th:replace="fragments/footer :: footer" />
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- bootstrap-select: 이거 bootstrap5에는 버전이 까다롭게 들어감. 1.13.x에도 안먹히는 것 같고, 1.14.x부터 되는 듯 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>


  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>
</html>